__pycache__
Data/*
Jupyter/Martin Flow Calcs.ipynb
.DS_Store
.externalToolBuilders
.ipynb_checkpoints
.settings
.pydevproject
Jupyter/.ipynb_checkpoints/*
*.pyc
Mongo_DB/*
.idea/
Strategies/SuperTrendCross.py
Strategies/SuperTrendCrossScreener.py
Unit_Test/Strategies/SuperTrendCross_test.py
Unit_Test/Strategies/SuperTrendCrossScreener_test.py
