[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[requires]

python_version = "3.6"


[packages]

requests = "*"
"pathlib2" = "*"
"bs4" = "*"
pandas = "*"
pylint = "*"
scipy = "*"
arctic = "*"
rollbar = "*"
pymongo = {extras = ["tls"]}
halo = "*"
ccxt = "*"
apscheduler = "*"


[dev-packages]

"autopep8" = "*"
Quandl = "*"
ystockquote = "*"
nose = "*"
coverage = "*"
jupyter = "*"
mypy = "*"
