[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]

requests = "*"
"pathlib2" = "*"
"bs4" = "*"
pandas = "*"
pylint = "*"
scipy = "*"
arctic = "*"
"trading-ig" = "*"
"python-bittrex" = {git = "https://github.com/ericsomdahl/python-bittrex.git", editable = true, ref = "0.1.3"}
matplotlib = "*"
rollbar = "*"
pymongo = "*"

[dev-packages]

"autopep8" = "*"
quandl = "*"
ystockquote = "*"
nose = "*"
coverage = "*"
jupyter = "*"
mypy = "*"
docker = "*"